.hide {
    display: none;
}

.max-number-input {
    max-width: 100px;
    display: inline-block;
}

#showMyCalculations .col-sm-4 {
    margin-bottom: 10px;
}

#showMyCalculations .col-sm-4 .card .card-title {
    margin-bottom: 0;
}